* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(98, 88, 205);
  height: 100vh;
  width: 100vw;
}
.containerInvader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#invader {
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  border: 1px solid rgb(128, 142, 155);
  background-color: rgb(209, 218, 226);
}

.configuration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(49, 71, 173);
  width: 100%;
}

.configuration > * {
  border: 1px solid rgb(49, 71, 173);
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.6rem;
}
.configuration :nth-child(1) {
  border-radius: 8px 0 0 8px;
}

.configuration :nth-child(3) {
  background-color: rgb(155, 104, 228);
  border-radius: 0 8px 8px 0;
  color: white;
}

.palette {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 170px;
  padding: 0.3rem;
  background-color: rgb(71, 69, 163);
  border-radius: 5px 0 0 5px;
}

.swatch {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  border-radius: 16px;
  display: inline-block;
}

.white {
  background-color: white;
}

.black {
  background-color: rgb(72, 84, 96);
}

.orange {
  background-color: rgb(251, 192, 71);
}

.green {
  background-color: rgb(121, 234, 131);
}
.white:hover {
  border: 2px solid black;
  transition-delay: 0.9ms;
}

.black:hover {
  border: 2px solid black;
  transition-delay: 0.9ms;
}

.orange:hover {
  border: 2px solid black;
  transition-delay: 0.9ms;
}

.green:hover {
  border: 2px solid black;
  transition-delay: 0.9ms;
}
